.body {
    min-height: 100vh;
}

.link-icon {
    color:blue
}

.link-icon:hover {
    color: red
}

.link-icon:active{
    color:black
}

.mainImage {
    background-image: url(./assets/cover/slate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projectCard {
    text-align: center;
    position: relative;
}

.profilePic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.navLink {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        font-size: 4rem;
      }
      
.navLink :hover {
        color: var(--secondary-color);
        font-weight: bold;
      }
